<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [opened]="false">
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']"><mat-icon style="margin-right: 10px;">home</mat-icon>Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/branch']"><mat-icon style="margin-right: 10px;">business</mat-icon>Branches</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/employee']"><mat-icon style="margin-right: 10px;">groups</mat-icon>Employees</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/branch-create']"><mat-icon style="margin-right: 10px;">add</mat-icon>Create Branch</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/employee-create']"><mat-icon style="margin-right: 10px;">person_add</mat-icon>Create Employee</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/help']"><mat-icon style="margin-right: 10px;">help</mat-icon>Help</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!--<span style="margin-right: 10px;">Company App</span>-->
      <mat-nav-list class="navlink">
        <a mat-list-item [routerLink]="['/home']"><mat-icon style="margin-right: 10px;">business</mat-icon>Company App</a>
      </mat-nav-list>
      <mat-nav-list class="navlink">
        <a mat-list-item [routerLink]="['/home']">Home</a>
      </mat-nav-list>
      <mat-nav-list class="navlink">
        <a mat-list-item [routerLink]="['/branch']">Branches</a>
      </mat-nav-list>
      <mat-nav-list class="navlink">
        <a mat-list-item [routerLink]="['/employee']">Employees</a>
      </mat-nav-list>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="layout-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
